@{
    Layout = "_default";
}

<!-- content -->
<div class="container-fluid flex-fill">
    <div class="row flex-fill">
        <div class="col flex-fill flex-column justify-content-center align-items-center">

            <!-- brand -->
            <img class="img-circle-lg mb-3" src="/logo.png" />
            <h1 class="fw-bold">CLK Software</h1>
        </div>
    </div>
</div>