@{
    Layout = "_default";
}

<!-- container -->
<div class="container-fluid flex-fill flex-fill-scroll">

    <!-- content-header -->
    <h3 class="content-header">Index</h3>

    <!-- content-body -->
    <div>Start</div>
    @for (var i = 0; i < 100; i++)
    {
        <div>block001</div>
    }
    <div>End</div>
</div>