<!doctype html>
<html lang="zh-TW">
<head>
    <!-- title -->
    <title>CLK Software</title>

    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- style -->
    <link rel="stylesheet" href="/lib/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/lib/admin-lte/css/adminlte.min.css">
    <link rel="stylesheet" href="/lib/admin-lte-mdp/css/adminltemdp.css?v=A20">

</head>
<body class="hold-transition layout-top-nav layout-fixed sidebar-collapse d-flex flex-fill">

    <!-- container -->
    <div class="wrapper d-flex flex-fill">

        <!-- main-header -->
        <nav class="main-header navbar navbar-light navbar-expand">

            <!-- left navbar -->
            <ul class="navbar-nav">

                <!-- command -->
                <li class="nav-item">
                    <a class="nav-link" href="#" data-widget="pushmenu"><i class="fas fa-bars"></i></a>
                </li>

                <!-- brand -->
                <li class="nav-item">
                    <a class="navbar-brand" href="/">
                        <span class="brand-text font-weight-light">CLK Software</span>
                    </a>
                </li>

            </ul>

            <!-- right navbar -->
            <ul class="navbar-nav ml-auto">

                <!-- fill switch  -->
                <li class="nav-item d-flex flex-fill justify-content-center">
                    <div class="custom-control custom-switch custom-switch-off-light custom-switch-on-primary">
                        <input class="custom-control-input" id="fillSwitch" type="checkbox" />
                        <label class="custom-control-label" for="fillSwitch"></label>
                    </div>
                </li>

                <!-- notifications -->
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="alert('Notifications');">
                        <i class="far fa-bell"></i>
                    </a>
                </li>

                <!-- user -->
                <li class="nav-item user-menu dropdown">
                    <!-- icon -->
                    <a class="nav-link" href="#" data-toggle="dropdown">
                        <img class="user-image img-circle" src="/img/user.jpg">
                    </a>
                    <!-- menu -->
                    <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <li class="user-header">
                            <img src="/img/user.jpg" class="img-circle">
                            <p>Clark Chou<small>Clark@hotmail.com</small></p>
                        </li>
                        <li class="user-body p-0 h-0">

                        </li>
                        <li class="user-footer">
                            <a class="btn btn-rounded btn-primary btn-block" href="/Account/Login"><i class="fas fa-sign-out-alt"></i>&nbsp;登出</a>
                        </li>
                    </ul>
                </li>

            </ul>

        </nav>

        <!-- main-content -->
        <div class="content-wrapper d-flex flex-fill">

            <!-- header -->
            <div class="content-header row m-0">

                <!--title-->
                <div class="col">
                    <h5>@ViewContext.RouteData.Values["action"].ToString()</h5>
                </div>

                <!-- breadcrumb -->
                <div class="col-auto ml-auto d-none d-md-block">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item font-weight-light">@ViewContext.RouteData.Values["controller"].ToString()</li>
                        <li class="breadcrumb-item font-weight-light">@ViewContext.RouteData.Values["action"].ToString()</li>
                    </ol>
                </div>

            </div>

            <!-- content -->
            <div class="content d-flex flex-fill">
                @RenderBody()
            </div>

        </div>

        <!-- main-sidebar -->
        <aside class="main-sidebar sidebar-dark-primary">

            <!-- brand -->
            <a class="brand-link" href="/">
                <img src="/logo.png" class="brand-image img-circle">
                <span class="brand-text font-weight-light">CLK Software</span>
            </a>

            <!-- menu -->
            <div class="sidebar">
                <ul class="nav nav-sidebar nav-pills nav-flat d-flex flex-column" data-widget="treeview">

                    <!-- pages -->
                    <li class="nav-header">PAGES</li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Page/Chat">
                            <i class="nav-icon fas fa-th"></i>
                            <p>Chat</p>
                        </a>
                    </li>

                    <!-- form -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fas fa-th"></i>
                            <p>Form<i class="right fas fa-angle-left"></i></p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" href="/Form/Form_1_1">
                                    <i class="nav-icon far fa-circle"></i>
                                    <p>Form_1_1</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Form/Form_1_2">
                                    <i class="nav-icon far fa-circle"></i>
                                    <p>Form_1_2</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Form/Form_2_1">
                                    <i class="nav-icon far fa-circle"></i>
                                    <p>Form_2_1</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Form/Form_2_2">
                                    <i class="nav-icon far fa-circle"></i>
                                    <p>Form_2_2</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- crud -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fas fa-th"></i>
                            <p>CRUD<i class="right fas fa-angle-left"></i></p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" href="/CRUD/List">
                                    <i class="nav-icon far fa-circle"></i>
                                    <p>List</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/CRUD/Add">
                                    <i class="nav-icon far fa-circle"></i>
                                    <p>Add</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/CRUD/Update">
                                    <i class="nav-icon far fa-circle"></i>
                                    <p>Update</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/CRUD/Remove">
                                    <i class="nav-icon far fa-circle"></i>
                                    <p>Remove</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/CRUD/Detail">
                                    <i class="nav-icon far fa-circle"></i>
                                    <p>Detail</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- template -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fas fa-th"></i>
                            <p>Template<i class="right fas fa-angle-left"></i></p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" href="/Template/Template_Default">
                                    <i class="nav-icon far fa-circle"></i>
                                    <p>Template_Default</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Template/Template_Basic">
                                    <i class="nav-icon far fa-circle"></i>
                                    <p>Template_Basic</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- account -->
                    <li class="nav-header">ACCOUNT</li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Account/Login">
                            <i class="nav-icon fas fa-th"></i>
                            <p>Login</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Account/Register">
                            <i class="nav-icon fas fa-th"></i>
                            <p>Register</p>
                        </a>
                    </li>

                    <!-- layout -->
                    <li class="nav-header">LAYOUT</li>
                    <!-- layout_3 -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fas fa-th"></i>
                            <p>Layout_3<i class="right fas fa-angle-left"></i></p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" href="/Layout/Layout_3_1?fill_fixed=true">
                                    <i class="nav-icon far fa-circle"></i>
                                    <p>Layout_3_1</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Layout/Layout_3_2?fill_fixed=true">
                                    <i class="nav-icon far fa-circle"></i>
                                    <p>Layout_3_2</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Layout/Layout_3_3?fill_fixed=true">
                                    <i class="nav-icon far fa-circle"></i>
                                    <p>Layout_3_3</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Layout/Layout_3_4?fill_fixed=true">
                                    <i class="nav-icon far fa-circle"></i>
                                    <p>Layout_3_4</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- layout_2 -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fas fa-th"></i>
                            <p>Layout_2<i class="right fas fa-angle-left"></i></p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" href="/Layout/Layout_2_1?fill_fixed=true">
                                    <i class="nav-icon far fa-circle"></i>
                                    <p>Layout_2_1</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Layout/Layout_2_2?fill_fixed=true">
                                    <i class="nav-icon far fa-circle"></i>
                                    <p>Layout_2_2</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- layout_1 -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fas fa-th"></i>
                            <p>Layout_1<i class="right fas fa-angle-left"></i></p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" href="/Layout/Layout_1_1?fill_fixed=true">
                                    <i class="nav-icon far fa-circle"></i>
                                    <p>Layout_1_1</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Layout/Layout_1_2?fill_fixed=true">
                                    <i class="nav-icon far fa-circle"></i>
                                    <p>Layout_1_2</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- layout_flex -->
                    <li class="nav-item">
                        <a class="nav-link" href="/Layout/Layout_Flex?fill_fixed=true">
                            <i class="nav-icon fas fa-th"></i>
                            <p>Layout_Flex</p>
                        </a>
                    </li>
                </ul>
            </div>

        </aside>

    </div>

    <!-- script -->
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/lib/admin-lte/js/adminlte.min.js"></script>
    <script src="/lib/admin-lte-mdp/js/adminltemdp.js"></script>
    <script>
        // fill switch        
        (function () {

            // State
            var queryString = new URLSearchParams(window.location.search.toLowerCase());
            if (queryString.get("fill_fixed") === "true") {
                document.getElementById("fillSwitch").checked = true;
            }

            // Event
            document.getElementById("fillSwitch").addEventListener("change", (event) => {
                if (event.target.checked == true) {
                    if (document.body.classList.contains("flex-fill-fixed") == false) {
                        document.body.classList.add("flex-fill-fixed");
                    }
                } else {
                    if (document.body.classList.contains("flex-fill-fixed") == true) {
                        document.body.classList.remove("flex-fill-fixed");
                    }
                }
            });
            document.getElementById("fillSwitch").dispatchEvent(new Event("change"));

        })();       
    </script>
</body>
</html>