@{
    Layout = "_default";
}

<!-- content-header -->
<div class="container-fluid">
    <h3 class="content-header">Layout_3_3</h3>
</div>

<!-- content-body -->
<div class="container-fluid flex-fill">
    <div class="row flex-fill">

        <!-- container -->
        <div class="col-auto flex-fixed" style="width:100px;">
            <div class="row flex-fill flex-column">

                <!-- block002 -->
                <div class="col-auto flex-fixed bg-blue" style="height:100px;">
                    block002
                </div>

                <!-- block003 -->
                <div class="col flex-fill bg-green">
                    block003
                </div>
            </div>
        </div>

        <!-- block001 -->
        <div class="col flex-fill flex-column flex-fill-scroll bg-grey">
            <div>block001 - start</div>
            @for (var i = 0; i < 100; i++)
            {
                <div>block001</div>
            }
            <div>block001 - end</div>
        </div>
    </div>
</div>