@{
    Layout = "_default";
}

<!-- layout 3-3 -->
<div class="container-fluid d-flex flex-fill">
    <div class="row m-0 d-flex flex-fill">
        <div class="col-auto p-0 d-flex flex-fill" style="width:100px;">

            <!-- container -->
            <div class="row m-0" style="height:100px;">
                <div class="col bg-gray">
                    block001
                </div>
            </div>
            <div class="row m-0 d-flex flex-fill">
                <div class="col bg-blue">
                    block002
                </div>
            </div>

        </div>
        <div class="col bg-purple">
            block003
        </div>
    </div>
</div>