@{
    Layout = "_default";
}

<!-- layout 1-1 -->
<div class="container-fluid d-flex flex-fill">
    <div class="row m-0 d-flex flex-fill">
        <div class="col bg-gray">
            block001
        </div>
    </div>
</div>