@{
    Layout = "_default";
}

<!-- layout 3-1 -->
<div class="container-fluid d-flex flex-fill">
    <div class="row m-0 d-flex flex-fill">
        <div class="col-auto bg-gray" style="width:100px;">
            block001
        </div>
        <div class="col bg-blue">
            block002
        </div>
        <div class="col-auto bg-purple" style="width:100px;">
            block003
        </div>
    </div>
</div>