@{
    Layout = "_default";
}

<!-- layout 1-2 -->
<div class="container-fluid d-flex flex-fill">
    <div class="row m-0 d-flex flex-fill">
        <div class="col-auto m-auto bg-gray" style="width:100px;height:100px">
            block001
        </div>
    </div>
</div>