@{
    Layout = "_default";
}

<!-- layout_flex -->
<div class="container-md container-md-fixed d-flex flex-fill">
    <div class="bg-red flex-shrink-fixed" style="height: 100px;">Red Content</div>

    <!-- container -->
    <div class="d-flex flex-fill flex-fill-scroll">
        <div class="bg-yellow">Yellow Content<br />Yellow Content<br />Yellow Content<br /></div>

        <!-- container -->
        <div class="d-flex flex-fill">
            <div class="bg-green">Green Content</div>

            <!-- container -->
            <div class="bg-gray d-flex flex-fill">
                @for (int i = 0; i < 50; i++)
                {
                    <div>Gray Content</div>
                }
            </div>

            <div class="bg-green">Green Content</div>
        </div>

        <div class="bg-yellow">Yellow Content<br />Yellow Content<br />Yellow Content<br /></div>
    </div>

    <div class="bg-red flex-shrink-fixed" style="height: 100px;">Red Content</div>
</div>