@{
    Layout = "_default";
}

<!-- form -->
<div class="container-fluid d-flex flex-fill">
    <div class="container-md container-md-fixed">
        <form action="/Home/Form" method="post">

            <!-- customer -->
            <div class="card card-primary card-outline">
                <!-- title -->
                <div class="card-header">
                    <h3 class="card-title">客戶資料</h3>
                </div>
                <!-- content -->
                <div class="card-body">
                    <div class="row form-group">
                        <label class="col-auto form-label"   for="inputName">客戶姓名：</label>
                        <input class="col      form-control" id="inputName" type="text" value="Clark" />
                    </div>
                    <div class="row form-group">
                        <label class="col-auto form-label"   for="inputPhone">客戶電話：</label>
                        <input class="col      form-control" id="inputPhone" type="text" value="0912345678" />
                    </div>
                    <div class="row form-group">
                        <label class="col-auto form-label"   for="inputAddress">客戶地址：</label>
                        <input class="col      form-control" id="inputAddress" type="text" value="台北101" />
                    </div>
                    <div class="row form-group">
                        <label class="col-auto form-label"   for="inputMessage">客戶備註：</label>
                        <textarea class="col   form-control" id="inputMessage" type="text" rows="5"></textarea>
                    </div>
                </div>
            </div>

            <!-- command -->
            <div class="card">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-auto ml-auto">
                            <a class="btn btn-rounded btn-outline-secondary" href="/CRUD/List"><i class="fa fa-times"></i>&nbsp;取消</a>
                            <a class="btn btn-rounded btn-primary" href="/CRUD/List"><i class="fa fa-check"></i>&nbsp;修改</a>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>