@{
    Layout = "_default";
}

<!-- blank -->
<div class="container-md container-md-fixed d-flex flex-fill">
    
    <div class="card card-success card-outline direct-chat direct-chat-success">
        <!-- header -->
        <div class="card-header">
            <h3 class="card-title">Chat</h3>
        </div>
        <!-- body -->
        <div class="card-body" style="height: calc(100vh - 240px); overflow-y: auto;">
            <div class="direct-chat-messages ">    
                
                <div class="direct-chat-msg">
                    <div class="direct-chat-infos clearfix">
                        <span class="direct-chat-name float-left">Clark Chou</span>
                    </div>
                    <img class="direct-chat-img" src="/img/user.jpg">
                    <div class="direct-chat-text">
                        Is this template really for free? That's unbelievable!
                    </div>
                    <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
                </div>
                
                <div class="direct-chat-msg right">
                    <div class="direct-chat-infos clearfix">
                        <span class="direct-chat-name float-right">Clark Chou</span>
                    </div>
                    <img class="direct-chat-img" src="/img/user.jpg">
                    <div class="direct-chat-text">
                        You better believe it!
                    </div>
                    <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
                </div>
                
                <div class="direct-chat-msg">
                    <div class="direct-chat-infos clearfix">
                        <span class="direct-chat-name float-left">Clark Chou</span>
                    </div>
                    <img class="direct-chat-img" src="/img/user.jpg">
                    <div class="direct-chat-text">
                        Working with AdminLTE on a great new app! Wanna join?
                    </div>
                    <span class="direct-chat-timestamp float-right">23 Jan 5:37 pm</span>
                </div>
                
                <div class="direct-chat-msg right">
                    <div class="direct-chat-infos clearfix">
                        <span class="direct-chat-name float-right">Clark Chou</span>
                    </div>
                    <img class="direct-chat-img" src="/img/user.jpg">
                    <div class="direct-chat-text">
                        I would love to.
                    </div>
                    <span class="direct-chat-timestamp float-left">23 Jan 6:10 pm</span>
                </div>

                <div class="direct-chat-msg">
                    <div class="direct-chat-infos clearfix">
                        <span class="direct-chat-name float-left">Clark Chou</span>
                    </div>
                    <img class="direct-chat-img" src="/img/user.jpg">
                    <div class="direct-chat-text">
                        Is this template really for free? That's unbelievable!
                    </div>
                    <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
                </div>

                <div class="direct-chat-msg right">
                    <div class="direct-chat-infos clearfix">
                        <span class="direct-chat-name float-right">Clark Chou</span>
                    </div>
                    <img class="direct-chat-img" src="/img/user.jpg">
                    <div class="direct-chat-text">
                        You better believe it!
                    </div>
                    <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
                </div>

                <div class="direct-chat-msg">
                    <div class="direct-chat-infos clearfix">
                        <span class="direct-chat-name float-left">Clark Chou</span>
                    </div>
                    <img class="direct-chat-img" src="/img/user.jpg">
                    <div class="direct-chat-text">
                        Working with AdminLTE on a great new app! Wanna join?
                    </div>
                    <span class="direct-chat-timestamp float-right">23 Jan 5:37 pm</span>
                </div>

                <div class="direct-chat-msg right">
                    <div class="direct-chat-infos clearfix">
                        <span class="direct-chat-name float-right">Clark Chou</span>
                    </div>
                    <img class="direct-chat-img" src="/img/user.jpg">
                    <div class="direct-chat-text">
                        I would love to.
                    </div>
                    <span class="direct-chat-timestamp float-left">23 Jan 6:10 pm</span>
                </div>
                
            </div>    
        </div>

        <!-- footer -->
        <div class="card-footer">
            <form action="#" method="post">
                <div class="input-group">
                    <input type="text" name="message" placeholder="Type Message" class="form-control">
                    <span class="input-group-append">
                        <button type="button" class="btn btn-primary">Send</button>
                    </span>
                </div>
            </form>
        </div>

    </div>

</div>