@{
    Layout = "_basic";
}

<!-- form -->
<div class="container-fluid d-flex flex-fill">
    <div class="row m-0 d-flex flex-fill">
        <div class="col-auto m-auto">

            <!-- login -->
            <div class="card card-primary card-outline m-0">
                <!-- header -->
                <h3 class="card-header text-center">
                    CLK Software
                </h3>
                <!-- body -->
                <div class="card-body">

                    <!-- password -->
                    <form action="/" method="post">
                        <div class="row form-group">
                            <label class="col-auto form-label"   for="inputUsername">帳號：</label>
                            <input class="col      form-control mr-2" id="inputUsername" type="text" />
                        </div>
                        <div class="row form-group">
                            <label class="col-auto form-label"   for="inputPassword">密碼：</label>
                            <input class="col      form-control mr-2" id="inputPassword" type="text" />
                        </div>
                        <div class="row form-group">
                            <div class="col-12">
                                <a class="btn btn-rounded btn-primary btn-block" href="/"><i class="fas fa-sign-in-alt"></i>&nbsp;登入</a>
                            </div>
                        </div>
                    </form>
                    <hr class="mb-3" />

                    <!-- oauth -->
                    <div class="row form-group">
                        <div class="col-12">
                            <a class="btn btn-rounded btn-outline-secondary btn-block text-left" href="/">
                                <img class="img-square-24" src="/img/oauth/line.ico">
                                &nbsp;使用 Line 登入
                            </a>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12">
                            <a class="btn btn-rounded btn-outline-secondary btn-block text-left" href="/">
                                <img class="img-square-24" src="/img/oauth/google.ico">
                                &nbsp;使用 Google 登入
                            </a>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12">
                            <a class="btn btn-rounded btn-outline-secondary btn-block text-left" href="/">
                                <img class="img-square-24" src="/img/oauth/facebook.png">
                                &nbsp;使用 Facebook 登入
                            </a>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12">
                            <a class="btn btn-rounded btn-outline-secondary btn-block text-left" href="/">
                                <img class="img-square-24" src="/img/oauth/microsoft.ico">
                                &nbsp;使用 Microsoft Account 登入
                            </a>
                        </div>
                    </div>
                    <hr class="mb-2" />

                    <!-- register -->
                    <div class="row form-group">
                        <div class="col-12">
                            <a class="text-center" href="/Account/Register">I forgot my password</a><br />
                            <a class="text-center" href="/Account/Register">Register a new membership</a><br />
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>