@{
    Layout = "_default";
}

<!-- content-header -->
<div class="container-md container-md-fixed">
    <h3 class="content-header">Add</h3>
</div>

<!-- content-body -->
<div class="container-md container-md-fixed flex-fill gap-3">

    <!-- card -->
    <div class="card card-primary card-outline">
        <div class="card-body">

            <!-- title -->
            <h5 class="card-title">客戶資料</h5>

            <!-- content -->
            <div class="row flex-wrap gap-3">
                <div class="col-12">
                    <label class="form-label" for="name">客戶姓名：</label>
                    <input class="form-control" id="name" type="text" />
                </div>
                <div class="col-12">
                    <label class="form-label" for="phone">客戶電話：</label>
                    <input class="form-control" id="phone" type="text" />
                </div>
                <div class="col-12">
                    <label class="form-label" for="address">客戶地址：</label>
                    <input class="form-control" id="address" type="text" />
                </div>
                <div class="col-12">
                    <label class="form-label" for="message">客戶備註：</label>
                    <textarea class="form-control" id="message" type="text" rows="5"></textarea>
                </div>
            </div>
        </div>
    </div>

    <!-- card -->
    <div class="card">
        <div class="card-body">

            <!-- command -->
            <div class="row">
                <div class="col-auto ms-auto gap-2">
                    <a class="btn btn-outline-secondary" href="/Crud/List"><i class="bi bi-x-lg"></i>&nbsp;取消</a>
                    <a class="btn btn-primary" href="/Crud/List"><i class="bi bi-check-lg"></i>&nbsp;新增</a>
                </div>
            </div>
        </div>
    </div>
</div>