@{
    Layout = "_default";
}

<!-- content -->
<div class="container-fluid flex-fill">
    <div class="row flex-fill">
        <div class="col flex-fill flex-column justify-content-center align-items-center">

            <!-- message -->
            <h1 class="fw-bold display-1">403</h1>
            <h1 class="fw-bold mb-3">Access Denied</h1>
            <h2 class="mb-3">請稍後再試或聯絡網站管理員</h2>

            <!-- back -->
            <a class="btn btn-primary btn-lg" href="/">回到首頁</a>
        </div>
    </div>
</div>