@{
    Layout = "_default";
}

<!-- content -->
<div class="container-fluid flex-fill">
    <div class="row flex-fill">
        <div class="col flex-fill flex-column justify-content-center align-items-center">

            <!-- card -->
            <div class="card card-primary card-outline" style="max-width:350px">

                <!-- header -->
                <h3 class="card-header text-center">
                    CLK Software
                </h3>

                <!-- body -->
                <div class="card-body">

                    <!-- profile -->
                    <div class="row flex-wrap gap-3">
                        <div class="col-12">
                            <label class="form-label" for="mail">註冊信箱：</label>
                            <input class="form-control" id="mail" type="text" />
                        </div>
                        <div class="col-12">
                            <label class="form-label" for="name">註冊姓名：</label>
                            <input class="form-control" id="name" type="text" />
                        </div>
                        <div class="col-12">
                            <label class="form-label" for="password">註冊密碼：</label>
                            <input class="form-control" id="password" type="text" />
                        </div>
                        <div class="col-12">
                            <label class="form-label" for="password2">確認密碼：</label>
                            <input class="form-control" id="password2" type="text" />
                        </div>
                        <div class="col-auto ms-auto gap-2">
                            <a class="btn btn-outline-secondary" href="/"><i class="bi bi-x-lg"></i>&nbsp;取消</a>
                            <a class="btn btn-primary" href="/"><i class="bi bi-check-lg"></i>&nbsp;註冊</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>