@{
    Layout = "_default";
}

<!-- blank -->
<div class="container-md container-md-fixed d-flex flex-fill">
    <div class="card card-primary card-outline d-flex flex-fill">
        <div class="card-header">
            <h3 class="card-title">Title</h3>
        </div>
        <div class="card-body d-flex flex-fill flex-fill-scroll">
            @for (int i = 0; i < 50; i++)
            {
                <div>Body</div>
            }
        </div>
        <div class="card-footer">
            Footer
        </div>
    </div>
</div>